* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  font-family: "Gilory";
}

html,
body {
  width: 100%;
  height: 100%;
}

.main {
  width: 100%;
  height: 100%;
  background-color: red;
  display: flex;
}

.left {
  width: 45%;
  height: 100%;
  background-color: #c7958d;
  position: relative;
  overflow: hidden;
}
#nav {
  width: 100%;
  padding: 40px 60px;
  display: flex;
  /* background-color: pink; */
  gap: 60px;
  align-items: center;
  text-transform: uppercase;
}
#nav a {
  text-decoration: none;
  font-size: 12px;
  color: #000;
  color: #fff;
}

#nav h3 {
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 5px;
  color: #fff;
}
.image-container {
  width: 45%;
  height: 55%;
  /* background-color: aqua; */
  background-image: url("https://images.unsplash.com/photo-1697920897729-3c6b8267b0c4?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTIxfHxwb3J0cmFpdCUyMGdpcmx8ZW58MHwxfDB8fHww");
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.image-container #text-container {
  position: absolute;
  bottom: -30%;
  width: 100%;
  height: 80px;
  display: flex;
  font-size: 12px;
}
#heading {
  width: 30%;
  color: #fff;
}
#heading h5 {
  margin-bottom: 20px;
}
#para {
  width: 70%;
  color: #fff;
  line-height: 20px;
}
#scroll {
  display: flex;
  gap: 20px;
  align-items: center;
  position: absolute;
  bottom: -10px;
  transform-origin: 0% 50%;
  transform: rotate(-90deg);
  left: 10%;
}

#scroll #line {
  width: 150px;
  height: 1px;
  background-color: #fff;
}

#scroll h4 {
  text-transform: uppercase;
  color: #fff;
  font-weight: 600;
  font-size: 10px;
  letter-spacing: 5px;
}

.center {
  width: 45%;
  height: 100%;
  /* background-color: blue; */
  background-image: url("https://images.unsplash.com/photo-1685464144402-0a3617eed624?q=80&w=1374&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  background-position: center;
}

.right {
  width: 10%;
  height: 100%;
  background-color: green;
}
