*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}

body,html{
    width: 100%;
    height: 100%;
}

#main{
    width: 100%;
    height: 100%;
    background-image: url('image/mount.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#overlay{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.555);
    background-size: cover;
}

.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}


h2 {
    color: #fff;
    font-size: 70px;
    font-weight: 600;
    margin-bottom: 10px;
}

button{
    padding: 5px 10px;
    width: 180px;
    font-size: 18px;
    color: #fff;
    background-color: transparent;
    border: 1px solid #fff;
}

button:hover{
    background-color: #fff;
    color: #000;
}